fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-openai
langchain-community
pinecone-client
pypdf
tiktoken
streamlit
requests
langchain-pinecone
firebase-admin
passlib[bcrypt]
python-jose[cryptography]
protobuf==3.20.3


By adding `protobuf==3.20.3`, we are telling `pip`: "I don't care what you think is the latest version. For this project, you will use version 3.20.3. No exceptions."
